.container{
    position: absolute;
    padding-left: 1350px;
    margin-top: 13px;
}

.container button {
    background-color: wheat;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    &:hover{
        background-color: lightcoral;
    }
        
}
